beautifulsoup4==4.15.0
fastapi
openai==2.51.0
pgvector==0.5.0
psycopg==3.3.4
pycountry==26.2.16
pydantic==2.13.4
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
ruff==0.16.1
sentence-transformers==5.6.1
uvicorn
